<div class="header center">
	<%= font_awesome("newspaper-o") + " POSTS" %>	|
	<%= link_to (font_awesome("share-alt") + " GROUPS"), manage_groups_path %> | 
	<%= link_to (font_awesome("bullhorn") + " ALERTS!"), alerts_path %> |
	<%= link_to (font_awesome("bullhorn") + " SYSTEM DATA!"), system_data_path %>
</div>
<h5>The following are pending public posts and new unapproved members. Make sure only valid information are approved. Edit any detail if required before it is approved.</h5>

<div class="header"><%= font_awesome('newspaper-o') %> Unapproved Posts</div>
<div class="contents">
	<% @unapproved_posts.each do |post| %>
		<%= font_awesome('calendar') %> <b><%= link_to post.title, post_path(:id=> post.id) %></b> 
		<%= font_awesome('globe') if post.public %>  <%= font_awesome('unlock') if post.group %><br />
			<%= font_awesome('user') %> <%= link_to post.member.full_name, member_path(:id => post.member.id) %> <br />
			<br />
	<% end %>

</div>

<div class="header"><%= font_awesome('user') %> Unverified Members</div>
<div class="contents">
	<% @unverified_members.each do |member| %>
		<%= link_to member.full_name, member_path(:id => member.id ) %><br />
	<% end %>

</div>