<div class="header center">
	<%= link_to (font_awesome("newspaper-o") + " POSTS"), admin_dashboard_path %>	|
	<%= font_awesome("share-alt") + " GROUPS" %> | 
	<%= link_to (font_awesome("bullhorn") + " ALERTS!"), alerts_path %>
</div>
<h5>The following are active groups and their basic information. Edit the group and change info or appoint admin to a group.</h5>

<div class="row contents">
	<% @groups.each do |group| %>
	<div class="col-xs-12 col-md-6">
		<h3><%= link_to group.name, group_path(:id => group) %> <small><%= link_to font_awesome('pencil'), edit_group_path(:id => group), :title => 'Edit' %></small></h3>
		<%= simple_format(group.description) %><br >
		<%= font_awesome('users') + " #{group.users.count} "%>
		<%= font_awesome('newspaper-o') + " #{group.posts.count}"%>
		<%= font_awesome('user-plus') + " #{group.requests.count}"%>
	</div>
	<% end %>
</div>