<div class="row">
	<h3><%= font_awesome('users') %> <%= @group.name %> Members 
  </h3>
</div>
<div class="row">
    <div class="input-group">
      <input id="key_word" type="text" class="form-control">
      <span class="input-group-btn">
        <button id = "search_btn" class="btn btn-default" type="button" onclick="search()">Search</button>
      </span>
    </div><!-- /input-group -->
</div><!-- /.row -->
<hr />
<div class="row" id = "members_rows">
<table class = "table">
<% if @members.empty? %>
	<i>No members to show!</i>
<% else %>
  <i>Showing newest members</i>
		<% @members.each do |member| %>
			<%= member_search_row_html(member).html_safe %>
		<% end %>
	</table>
<% end %>
</div>
<div class="row" id = "admins_rows">
<table class = "table">
<% if @admins.empty? %>
    <i>No admins to show!</i>
<% else %>
  <b>Admins</b>
        <% @admins.each do |member| %>
            <%= member_search_row_html(member).html_safe %>
        <% end %>
    </table>
<% end %>
</div>
<script type="text/javascript">
	$("#key_word").keyup(function(event){
    if(event.keyCode == 13){
        search();
    }
});
function search(){
    if(jQuery("#key_word").val().trim().length > 0){
        jQuery.ajax({
            data : {
                search_param : jQuery("#key_word").val().trim(),
                group_id : <%= @group.id %>
            },
            url : '/search_group_members',
            success : function(result) {

                jQuery("div#members_rows").html('<table class="table">' + result.message + '</table>');
            },
            error: function() {
                alert('Something went wrong. Please report this problem.');
            }
        });
    }else{
        jQuery("div#members_rows").html('<table class="table">No Results!</table>');
    }
}
</script>