<div class="header">
<%= font_awesome("share-alt") %> Groups
<div class="icon-buttons pull-right">
	<%= (link_to font_awesome('plus'), new_group_path, :title => 'New Post') if current_user.role.is_all_admin? %>
</div>
</div>
<% @groups.each do |group| %>
	<%= group_icon(group.group_type) %> <%= link_to group.name, group_path(:id => group.id) %></b> <br />
	Members: <%= group.users.count %>, Posts: <%= group.posts.count %><br />
	Admin: First admin name<br />
	Also display their LOGO or photo at the end
	<br /><br />
<% end %>