<div class="header">
	<%=font_awesome("newspaper-o") %> Public Posts
</div>
<div class="content">
	<% @public_posts.each do |post|%>
		<b><%= link_to post.title, post_path(:id=> post.id) %></b><br />
		<%= simple_format(post.content) %>
		<i>Posted by: <b><%= post.member.full_name %></b> at
		<b> <%= post.created_at.strftime("%B %d, %Y, %I:%M %p") %></b></i> 
		<br />
	<% end %>
</div>