<%= "<h4>Please complete your #{link_to "profile", edit_member_path(:id => current_user.member.id)}!</h4>".html_safe if user_signed_in? && current_user.member.full_name.nil? %>

<h3><%=font_awesome("globe") %> Public Posts (<%= @public_posts.count %>)</h3>
<div class="content">
	<% @public_posts.each do |post|%>
		<b><%= link_to post.title, post_path(:id=> post.id) %></b>
		<i><%= link_to (font_awesome('unlock') + " " + post.group.name), group_path(:id => post.id) if post.group %></i><br />
		<%= simple_format(post.content) %>
		<i>Posted by: <b><%= post.member.full_name %></b> at
		<b> <%= post.created_at.strftime("%B %d, %Y, %I:%M %p") %></b></i> 
		<hr />
	<% end %>
</div>
<% if user_signed_in? %>
	<div class="header">
		<%=font_awesome("newspaper-o") %> Other Posts (<%= @private_posts.count %>)
	</div>
	<div class="content">
		<% @private_posts.each do |post|%>
			<b><%= link_to post.title, post_path(:id=> post.id) %></b>
			<i><%= link_to (font_awesome('lock') + " " + post.group.name), group_path(:id => post.id)%></i><br />
			<%= simple_format(post.content) %>
			<i>Posted by: <b><%= post.member.full_name %></b> at
			<b> <%= post.created_at.strftime("%B %d, %Y, %I:%M %p") %></b></i> 
			<br />
			<hr />
		<% end %>
	</div>
<% end %>