<div class="header">
<%= font_awesome("newspaper-o") %> Posts
<div class="icon-buttons pull-right">
	<%= link_to font_awesome('plus'), new_post_path, :title => 'New Post' %>
</div>
</div>
<% @posts.each do |post| %>
	<%= font_awesome('calendar') %> <b><%= link_to post.title, post_path(:id => post) %></b> <%= post.public ? (font_awesome('globe') + " Public") : (font_awesome('unlock') + " Group name") %><br />
	<%= font_awesome('user') %> <%= link_to post.member.full_name, member_path(:id => post.member.id) %> <%= local_time(post.created_at) %><br />
	<%= simple_format(post.content).html_safe %>
	<br /><i>Expires at: <b> <%= local_time(post.expires_at) %></b></i> 
	<br /><br />
<% end %>