<% @posts.each do |post| %>
			
			<%= font_awesome('calendar') %> <b><%= post.title %></b> <%= post.public ? font_awesome('globe') : font_awesome('unlock') %><br />
			<%= font_awesome('user') %> <%= link_to post.member.full_name, member_path(:id => post.member.id) %> <br />
			<%= simple_format(truncate(post.content, :length => 200)) %> <br />
			<div class="icon-buttons pullright">
			    	<%= link_to font_awesome('envelope-o'), "#", :title => 'Email' %>
			    	<%= link_to font_awesome('comment'), "#", :title => 'Send SMS' %>
			    	<%= link_to font_awesome('pencil-square-o'), "#", :title => 'Edit or view booking' %>
		    </div>
			<br />

		<% end %>