<% if @post.nil? %>
	Post not found! It may have been deleted!
<% else %>
	<div class="panel panel-default">
	  <div class="panel-body">
		 	<h3><%=@post.title %><br > <small><%= link_to @post.group.name, group_path(:id => @post.group.id) if @post.group %>
		 	<%= @post.group.nil? ? font_awesome('globe') : (@post.public ? font_awesome('unlock') : font_awesome('lock')) %>
		 	</small></h3>
	    	<%= simple_format(@post.content) %>  	
		</div>
		
		<div class="panel-body">
		<% if user_signed_in? &&(current_user.member == @post.member || current_user.is_admin_of?(@post.group)) %>
			<%= link_to "Edit Post", edit_post_path(:id => @post) %>
		<% end %>
		<b><i>Posted by <%= @post.member.full_name %> <%= local_time_ago(@post.created_at) %>
		<div id="approval_div">
			<% if @post.approved_by %>
				Approved by <%= @post.approver.member.full_name %>
			<% elsif @post.group && current_user.is_admin_of?(@post.group) || @post.group.nil? && @post.public && current_user.is_all_admin? %>
				<%= link_to "Approve", "#", :id => "approve", :val => @post.id %>
					<script type="text/javascript">
					$("#approve").on('click', function(){
				    jQuery.ajax({
				            data : {
				                id : jQuery("#approve").attr('val')
				            },
				            url : '/approve_post',
				            success : function(result) {
				                jQuery("div#approval_div").html(result.result);
				            },
				            error: function() {
				                alert('Something went wrong. Please report this problem.');
				            }
				        });
					});
				</script>
			<% end %>
		</div>
		</i></b>
		</div>
	</div>
<% end %>
