<div class="profile-container">
<% if @member.nil? %>
	Member profile not found! It may have been deleted!
<% else %>
		  	<div class="row text-center">
		    <%= profile_photo(@member.photo_url)%>
	    	</div>
	    	<div class="icon-buttons">
	    	<%= link_to (font_awesome('pencil') + " Edit"), edit_member_path(:id => @member.id), :title => 'Edit Member' %>
	    	<%= link_to (font_awesome('check') + " Approve"), "#", :title => 'Edit Member' %>
	    	
	    	</div>
	    	<hr />
	  	</div>
	    	<div class="row">
	    		<table class="table">
	    		<tr>
	    			<td class="profile_table" >Membership Number</td><td><%= @member.epic_no %></td>
	    		</tr>
	    		<tr>
	    			<td class="profile_table" >Name</td><td><%= @member.full_name %></td>
	    		</tr>
	    		<tr>
	    			<td class="profile_table" >Date of Birth</td><td><%= @member.dob %>, Age <%= age(@member.dob) %></td>
	    		</tr>
	    		<tr>
	    		</tr>
	    		<tr>
	    			<td class="profile_table" >Address</td><td><%= simple_format(@member.address) %></td>
	    		</tr>
				</table>
<% end %>
</div>